html, body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
  font-family: "OstrichSans";
	background-color: black;
}

.weatherContainer {
	width: 100%;
}

.weatherBox {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.currentWeather {
	width: 50%;
	background-color: aqua;
}

.forecastedWeather {
	width: 50%;
	background-color: rgba(255, 255, 255, 0.75);
}

.forecastList {
	list-style: none;
	width: 100%;
    height: 100%;
	margin: 0px;
	padding: 0px;
	font-family:  "OstrichSans";
}

.forecastDay {
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}

.forecastIcon {
    width: 10%;
    height: 50%;
    margin: 0px;
    padding: 0px;
}

.forecastDayNumber {
    width: 50%;
    margin: 0px;
    padding: 0px;
}

.forecastDayHighsAndLows {
    width: 25%;
    margin: 0px;
    padding: 0px;
}

.place {
	text-align: center;
}

.tempFahr, .tempCelc {
	text-align: center;
	font-size: 1.5em;
}

.wind {
	font-family: "OstrichSans";
	text-align: center;
	font-size: 1.25em;
	font-style: italic;
}

.text {
	height: 25%;
	font-family: "OstrichSans";
	text-align: center;
	font-size: 1.25em;
	font-style: italic;
}

input {
    height: 48px;
    width: 250px;
    border: 2ps solid gray;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 18px;
}

.submitButton {
    border: none;
    width: 150px;
    height: 36px;
    background-color: red;
    color: white;
}