html, body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
    font-family: "OstrichSans";
}

#pallette {
    width: 100bh;
    height: 100vh;
}

.weatherContainer {
	width: 100%;
}

.weatherBox {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: center;
}

.currentWeather {
	width: 50%;
	background-color: aqua;
}

.forecastedWeather {
	width: 50%;
	background-color: rgba(255, 255, 255, 0.75);
}

.forecastList {
	list-style: none;
	width: 100%;
    height: 100%;
	margin: 0px;
	padding: 0px;
	font-family:  "OstrichSans";
}

.forecastDay {
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.forecastIconBox {
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: inline;
    vertical-align: middle;
    float: left;
}

.forecastIcon {
    margin: 0 auto;
}

.forecastDayNumber {
    width: 50%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    clear: both;
    text-align: center;
}

.forecastDayHighsAndLows {
    width: 25%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    float: right;
}

.place {
	text-align: center;
}

.tempFahr, .tempCelc {
	text-align: center;
	font-size: 1.5em;
}

.wind {
	font-family: "OstrichSans";
	text-align: center;
	font-size: 1.25em;
	font-style: italic;
}

.text {
	height: 25%;
	font-family: "OstrichSans";
	text-align: center;
	font-size: 1.25em;
	font-style: italic;
}

.inputContainer {
    margin: 7% 20%;
}

input {
    height: 48px;
    width: 500px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    font-size: 18px;
}

.submitButton {
    border: none;
    width: 200px;
    height: 58px;
    font-family: "OstrichSansMedium";
    font-size: 36px;
    background-color: rgb(105,166,249);
    line-height: 1.75em;
    color: white;
    border-radius: 5px;
}